.accordion {
  margin-top: 25px;
  width: 80%;
}

.saved-item {
  margin-top: 25px;
}

.save-button {
  margin-top: 5px;
  margin-bottom: 5px;
  /*/margin-left: 30px;*/
  width: 80px;
  /*background: #fff;*/
  cursor: pointer;
  border: 2px solid black;
  /*color: black;*/
}

.save-button:hover {
  border: 2px solid blue;
  color: blue;
}

.save-button-text {
  font-weight: 500;
}

.show-button {
  margin-left: 20px;
}

.btn-primary {
  margin-top: 25px;
}

.item-more-info {
  background-color: wheat;
  /*border-radius: 10px;*/
}

.item-more-info-content {
  padding: 42px;
}

h2 {
  font-weight: 100 !important;
}

label {
  margin-right: 5px;
}

button {
  border-radius: 5rem !important;
  display: inline-block;
  font-weight: 600;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.0625em;
  line-height: 1;
  padding: 0.375rem 1rem 0.5rem 1rem;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  margin-top: 25px !important;
}

.main-page {
  margin: 0px 350px;
  color: darkslategrey;
}

button:focus { 
  outline-style: none !important;
}

/*button:hover {
  background: cadetblue;
}*/

#root {
  /*background: cadetblue;*/
  background-image: url("Image/Background_Image_1.jpg");
}

.nav-tabs {
  color: black;
  font-size: larger;
  background-color: floralwhite;
}

.tab-content {
  color: brown;
}

.list-group-item {
  background-color: floralwhite !important
}

.nav-link {
  color: black;
  font-weight: 600;
}

.nav-tabs .nav-link.active {
  background-color: floralwhite !important;
}

.list-group-item:first-child {
  border-top: none !important;
  border-top-left-radius: 0 !important;
}
.pagination {
    margin-top: 25px;
}
.pagination span {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination span.active {
  background-color: #0099FF;
  color: white;
  border: 1px solid #0099FF;
}

.job-table {
  height: 85%;
  overflow: auto;
}

.job-tables {
  height: 900px;
  overflow: hidden;
}

.accordion>.card>.card-header {
  margin-top: -48px;
  float: right;
}

.card-button {
  color: black;
  font-weight: 500;
  padding: .375rem 3.05rem !important;
}

.card-button:hover {
  color: blue;
  cursor: pointer;
}

.card {
  border: none !important;
}

.card-header {
  background-color: floralwhite !important;
}

.btn {
  float: right !important;
}

.job-heading {
  color: #ffffff;
  text-align: center;
  padding:15px 0px;
}

.card-body {
  padding: 0 !important;
}

.list-group-item:hover {
  border: 1px solid black;
  cursor: pointer;
  margin-top: 1px;
}

.employer-name {
  float:left;  
  width:50%; 
  height:120px;
  font-weight: 700;
  padding-right: 10px;
  padding-top: 30px;
}

.employer-details {
  float:right; 
  width:50%; 
  height:120px;
}

/*.job-save-button { 
                float:right; 
                width:25%; 
                height:100px;
}*/
